@import './skeleton/normalize.scss';
@import './skeleton/skeleton.scss';
@import './skeleton/customer.scss';
@import './pages/index.scss';

body {
    font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

a {
    color:#222;
    text-decoration:none;

    &:hover {
        color:#33C3F0;
        transition:color .2s ease-in-out;
    }
}