.pg-blog {
    padding-top:3rem;
    padding-bottom:8rem;
    min-height:80rem;

    p {
        margin-bottom:1rem;
        line-height:2.4rem;
    }

    h1 {
        margin-bottom:3rem;
        font-size:4rem;
        color:#333;
    }

    h2 {
        margin-top:2rem;
        border-bottom:1px solid #DCDCDC;
        font-size:3rem;
        color:#2C3E50;
    }

    h3 {
        font-size:2.5rem;
        color:#2C3E50;
    }

    h4 {
        font-size:2rem;
    }

    h5 {
        font-size:1.5rem;
    }

    ol, ul {
        a {
            color:#34495E;
        }
    }
}

.blog__title {
    text-align:center;
    font-size:4rem;
}

.blog__content {
    margin-bottom:2rem;
    border-bottom:1px dashed #AAA;
}

.blog__info {
    .time {
        position: absolute;
        top: 5rem;
        right: -7rem;
        margin-bottom: 2rem;
        border-radius: 50%;
        width: 15rem;
        height: 15rem;
        line-height: 15rem;
        text-align: center;
        font-size: 3rem;
        color: #fff;
        transform:rotate(45deg);
        background-color:#8E44AD;
        opacity: 0.6;
    }
    .tag-list {
        list-style:none;

        li {
            float:left;
            margin-right:2rem;
            border:1px solid #AAA;
            border-radius:3px;
            padding:2px 3px;
            color:#999;

            &:hover {
                color:#666;
                transition:color .2s ease-in;
            }
        }
    }
}
