.pg-history {
    padding-top:3rem;
    padding-bottom:8rem;
    min-height:80rem;

    .month__header {
        font-size: 3rem;
        background-color: red;
        display: inline-block;
        padding: 0 1rem;
        color: #fff;

        &:before {
            content: '';
        }
    }

    .blog-block {
        position:relative;
        border-bottom:1px solid #DCDCDC;
        padding:2rem 8rem 1rem 0;
    }

    .blog-block__title {
        float:left;
        margin-bottom:0;
        font-size:2rem;
    }

    .blog-block__date {
        position:absolute;
        bottom:1rem;
        right:0;
    }
}
