/* rem 或则使用media query */
.pg-index {
    padding-top:3rem;
}
.blog-block {
    position:relative;
    margin-bottom:30px;
    border-bottom:1px solid #333;
    padding:10px 0px 30px 100px;
}

.blog-block__title {
    margin-bottom:1rem;
}

.blog-block__content {
    margin-bottom:0.5rem;
}

.blog-block__extra {
    .tags {
        margin-right:10px;
        border:1px solid #999;
        padding:2px 3px;
        border-radius:2px;
    }
}

.blog-block__date {
    position:absolute;
    top:1rem;
    left:0;
}