/* rem 或则使用media query */
.pg-index {
    a {
        color:#222;
        &:hover {
            color:#E67E22;
            transition:color .2s ease-in-out;
        }
    }

    padding-top:3rem;

    .blog-block {
        position:relative;
        margin-bottom:3rem;
        border-bottom:1px solid #333;
        padding:1rem 0 2rem 10rem;
    }

    .blog-block__title {
        margin-bottom:1rem;
    }

    .blog-block__content {
        margin-bottom:1rem;
    }

    .blog-block__extra {
        .tags {
            margin-right:10px;
            border:1px solid #999;
            padding:2px 3px;
            border-radius:2px;
        }
    }

    .blog-block__date {
        position:absolute;
        top:1.6rem;
        left:0;
        font-size:1rem;
        color:#999;
    }
}